/*  Created for AIDA by 
Buttonwillow Six
www.buttonwillowsix.com 
based on Beginning  
by gazwal.com */

/*
Reference:
AIDA Blue: #003163
AIDA Green:#006363
AIDA Orange:#ce3100
AIDA Light Background: #fffcea?

*/
* {
	margin: 0; /* zero out everything ! */
	padding: 0;
}

ul.tips li {
	padding: 0 0 0 15px!important;
	/* when select an input format */
	background: transparent url('images/menu-leaf.gif') no-repeat 1px .38em!important;
	list-style-type: none;
}

/*            general styles
**************************************************
**************************************************/
body {
	color: #000000;
	font: normal normal .8em/1.6em Verdana,Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {/*This is used for AIDA Mission Statement*/
	font-size: 1.4em;
	font-weight: normal;
	color: #003163;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {/*This style can be used for emphasis*/
	font-size: 1.6em;
	font-style: normal;
	padding-bottom: 25px;
	padding-top: 10px;
	border-top: #003163 1px solid;
	border-bottom: #003163 1px solid;
	margin-bottom:10px;
	margin-top:10px;
	font-weight: normal;

}

a:link, a:visited, #user-admin-account a{
	color: #000000;/*#003163*/
	text-decoration: none;
}

a:active, li a.active, #user-admin-account a:active, #user-admin-account a:hover, #user-admin-account a:visited{
	color: #003163;
	text-decoration: none;
}

a:hover {
	color: #ce3100;
	text-decoration: none;
}

form a:link, form a:visited, form a:hover, form a:active{
	color: #333 !important;
}


img, a img {
	border: none;
}

/*****************************/
blockquote {
	padding: 18px;
}

blockquote p {
	margin: 10px 20px;
	padding-left: 18px;
	width: 400px;
	background: url('images/close-quote.gif') no-repeat right bottom;
	color: #30457e;
	font: 1.5em "Times New Roman", Times, serif;
	text-indent: -10px;
}

blockquote p:first-letter {
	padding: 18px 0 0 18px;
	background: url('images/open-quote.gif') no-repeat left top;
}

/*******************/
input {
	padding: .2em 0;
	color: #000000;
	font: 12px/100% Verdana, sans-serif;
}

textarea, select {
	color: #494949;
	font: 12px/160% Verdana, sans-serif;
}

/*            general list styles
***********************************************/
ul.menu, div.item-list ul {
	margin: 0.35em 0 0 -0.5em;
	line-height: 1.2em;
}

ul.menu li, div.item-list ul li, li.leaf {
	padding: 0 0 .2em 1.5em;
	margin: 0.15em 0 0.15em .5em;
	list-style-type: none;
	list-style-image: none;
/*bw6 might need to put back for some things, but not Menu! */
/*	background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;*/
}

ul li.expanded {
	background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed {
	background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
	display: block;
}

/*  ul , ol  */
.content ul, .content ol {
	line-height: 1.9em;
}

.content ol {
	margin: 1em 3em 1em 3em;
}

.content ul {
	margin: 1em 3em 1em 0;
	list-style: none;
}

.content ul li {
	padding: 0 0 0 3em;
	background: url('images/custombullet.gif') 20px 8px no-repeat;
}

/*  div#featured (Featured region + site mission )
*****************************************************/
#featured {
/*	border-bottom: 1px solid #99FF66;*/ /*BW6 Think this is unecessary */
	height: 10px; /*this region is not currently used, but is main padding between regions*/
	min-width: 4px; /* used if Featured region and site mission are disabled */
}

#featured #mission {
	font-style: italic;
}

#featured .block {
	/*border: 1px dashed #aeaeae;*/
	margin: .3em .2em;
	padding: .3em;
/*	float:right;*/
}

/*Language Switcher */

#block-locale-0 {
	float: right;
	padding: 2px;
	width: 90px;	
	/*BW6 Change background to an image?*/
}

#block-locale-0 a{
color: #003163;
font-weight: bold;
}

#block-locale-0 li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

/*English*/
#block-locale-0 li.first{
background-color: #EEEEEE;
padding-left: 10px;
border: 1px #003163 solid;
margin-bottom: 10px;
}

/*Spanish*/
#block-locale-0 li.last{
background-color: #EEEEEE;
padding-left: 10px;
border: 1px #003163 solid;
}

/*Both*/
#block-locale-0 a:active,#block-locale-0 a:hover {
color: #ce3100;
}


/*     div#breadcrumb-wrapper / div.breadcrumb
*********************************************************/
#breadcrumb-wrapper .breadcrumb {
/*	margin: .2em 0;
	font-style: italic;*/
	display: none;
}


/********/
#content {
	padding-bottom: 1em;
	min-height: 350px;/*BW6 so window is always open, no white space at bottom*/
}

.content p {
	margin: .5em 0;
	line-height: 1.5em;
	text-align: left;
}

/*        titles (page.tpl.php / node.tpl.php)
********************************************************/
/*BW6 div .field field-type-text field-field-case-location added so would match title */
h2.nodetitle, h1.pagetitle, .field-field-case-location {
	clear: both; /* h2.nodetitle = node title as links in front page (node.tpl.php) / 
	h1.pagetitle = node title (page.tpl.php) */
	font: normal 2em Verdana,Arial, Helvetica, sans-serif; /*Georgia, "Times New Roman", Times, serif*/
	letter-spacing: 1px;
	/*max-width: 712px; BW6 so it doesn't bump into stuff */
	color: #003163;
	background-color: #FFF;
	padding-left: -5px;
}

/*BW6 Might Work for both Case Location across content types */
/*For Style. Might not Be Best Color */
.field-field-case-location {
	color: #003163;
}


.primary-links {
	font-size: 1.2em;
}


/*BW6 For Project Pages, etc*/
.panel-pane h2 {
	background: #FFF;
	color: #003163;
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 20px;
	line-height: 1.8em;
	border-bottom-style: solid;
	border-bottom-color: #003163;
	margin-top: 35px;
}

.panel-pane .nodetitle{
	line-height: 1.8em;
	border-bottom-color: transparent;
	margin-top: none;
}

/*            in node.tpl.php
************************************************
************************************************/
.node, .node-sticky {
	margin-bottom: 1.7em;
}

h2.nodetitle {
	margin-top: .4em;
}

h2.nodetitle a {
	color: #23353a;
}

h2.nodetitle a:hover {
	border-bottom: 1px dotted #1d6285;
	color: #217faf;
	text-decoration: none;
}

/*   submitted (node.tpl.php)
**********************************************/
.submitted {
	border-bottom: 1px solid #d8d8d8;
	color: #ababab;
	font-size: 83%;
}

/*  linkswrap / postlinks / taxonomy  (node.tpl.php)
*******************************************************/
.linkswrap {
	padding: .2em 0;
/*	background: #99FF66;*/
}

.linkswrap a {
	color: #145e84;
/*	text-decoration: underline;*/
}

.linkwrap a:hover {
	border: none;
	color: #000000;
	text-decoration: none;
}

.postlinks a {
	text-decoration: none;
}

.postlinks li.comment_new_comments a {
	color: #e30000;
	text-decoration: underline;
}

.postlinks ul, .taxonomy ul {
	background: none;
}

/*******/
.taxonomy {
	padding: 1px 0 0 22px;
	margin: .4em 0 .4em 0;
	position: relative;
}

.taxonomy a {
	color: #145e84;
/*	text-decoration: underline;*/
}

.taxonomy a:hover {
	border: none;
	color: #000000;
	text-decoration: none;
}

.taxonomy ul.links {
	margin: 0!important;
	list-style-type: none;
}

.taxonomy ul.links li {
	margin: 0 .2em;
	padding: 0; /* important */
	display: inline;
	background: none;
	float: right;
	text-decoration: underline;
/*	border-left: 2px solid #c0c0c0; BW6 for link prettiness, not working that well yet */
}


.taxonomy a.active {
	text-decoration: none;
}

/*          comments    (comment.tpl.php)
*************************************************/
div#comments {
	padding-top: 1em; /* see function phptemplate_comment_wrapper in template.php */
}

.comment {
	padding: 6px .7em 0 .7em;
	margin: 1em 0;
	background: url(images/comment_line.gif) #f3f3f3 no-repeat 0 -2px;
	min-height: 85px; /* for 85*85 pixels user pictures */
}

.comment .picture {
	width: 85px; /* depends on user picture width, drupal core default values: 85px*85px */
	float: right;
	margin: 3px;
}

.comment span.new {
	float: right;
	margin: .4em;
	color: #ff0000;
	font: 1.3em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.comment .signature {
	clear: both;
	border-top: 1px dashed #c0c0c0;
}

.comment .commentlinks {
	clear: both;
	padding-bottom: .2em;
}

.comment .commentlinks ul li {
	border: 1px solid #b0b0b0;
	padding: .2em;
	margin-right: 4px;
	background: #ffffff;
}

/* comment submission  */
#comment-form div.form-item {
	padding: 10px 20px;
	border: 1px solid #ebe8db;
	background: #f5f1eb;
}

* html #comment-form div.form-item {
	height: 1px;
}

/*      sidebars
*****************************/
.sidebar .block {
margin-left: 15px;
/*	padding: 1px 0;*/
/*	border-bottom: 1px solid #a3a3a3;*/
/*	border-right: 1px solid #a3a3a3;*/
/*	background-color: #f5f5f5;*/
}

/*BW6 so language switched is not obscured by right sidebar! */
#sidebar-right {
	margin: 15px 15px;/*BW6  on level w/image at present */
}

/*BW6 for Program Menu*/
#block-menu-menu-programs li{
	list-style-iype:none!important; 
}



/*       special blocks  
*********************************************/
/* user-login-form  */
#user-login-form {
	padding: 0 0 0 10px;
	text-align: left;
}

.form-item {
	text-align: left;
}

/*   box => box.tpl.php   */
.box {
	padding-top: 1em;
}


/*BW6 VIEWS*/
/* Press Releases */
.view-pressrelease .views-field-title {
/*	font-weight: bold;
	padding-top: 15px;*/
}

.views-field-created {
font-size: .9em;/*So dates line up neatly-ish*/
}

/*BW6*/
/* Monthly Updates */


/*BW6*/
/* Program Pages */


/*BW6*/
/* Project Pages */

.imagefield-field_project_photo {
	float: right;
	padding: 15px;

}

.clearboth {
	clear: both;
}

.image-description {
	font-style: italic;
	position:relative;
	float:right;
}


/*BW6*/
/* Secondary Links Nice Menus (Down Style Only)
Overrides styles in the Nice Menus module */


/*
Reference:
AIDA Blue: #003163
AIDA Green:#006363
AIDA Orange:#ce3100

*/


ul.nice-menu-down {
  float: left;
  border: 0;
}

ul.nice-menu-down li {
  border-top: 1px solid #003163;/*was ccc */
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0;
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px;
}

ul.nice-menu-down li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent {
  background: #EEEEEE url(images/arrow-down.png) right center no-repeat;
}

ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent:hover,
#header-region ul.nice-menu-down li.over {
  background: #EEEEEE url(images/arrow-down.png) right center no-repeat;
}

ul.nice-menu-down li li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent {
  background: #EEEEEE url(images/arrow-right.png) right center no-repeat;
}

ul.nice-menu-down li li.menuparent:hover,
ul.nice-menu-down li li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent:hover,
#header-region ul.nice-menu-down li li.over {
  background: #EEEEEE url(images/arrow-right.png) right center no-repeat;
}

/*BW6 Lazy-Man's Search Label Suppression */
#search-block-form label{
	display: none;
}


/*BW6 For Strategic Theme Pages*/

.field-field-theme-press {
	padding: 10px;
	border: #003163 1px solid;
	text-align: center;
	font-size: 1.2em;
	width: 470px;
}

.field-field-theme-curprojs {
	width: 470px;
}

.field-field-theme-pastprojs {
	width: 470px;
}


/*BW6 For New Reference Pages*/

.field-field-refpage-label1, .field-field-refpage-label2, 
.field-field-refpage-label3, .field-field-refpage-label4 {
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
	font-weight: bold;
	font-size: 1.2em;
	padding: 2px;
	margin-top: 25px;
}

.view-header h2 {
	margin-top: 15px;	
}

.field-field-refpage-ref .field-item, .field-field-refpage-ref2 .field-item, 
.field-field-refpage-ref3 .field-item, .field-field-refpage-ref4 .field-item{

padding-bottom: 10px;
	
}