/* $Id: headblock.css  */
/*  Created for AIDA by www.buttonwillowsix.com", 
based on Beginning Web 2.0 by gazwal.com */
#headerblock {
	border-bottom: 1px solid #bdbdbd;
	background: #ececec;
}

.headerblock-block {
	margin: .8em 3px;
	float: left;
	width: 32.5%;
	min-width: 312px;
}

#headerblock .headerblock-block, #headerblock .block {
	background-color: #ffffff;
}

/* End extra blocks*/
