/* $Id: footer.css,v 1.3 2008/09/14 14:15:43 robby Exp $ */
/*  beginning drupal 6.x theme, 
created by robin / biboo[dot]net / nekodesign[dot]net */
#footer {
	border-top: 1px solid #bdbdbd;
	background: #ececec;
}

#footer .footer-block {
	float: left;
	width: 300px;
	margin: .8em 5px;
}

#footer .footer-block, #footer .block {
	background-color: #ffffff;
}

/*  primary links in footer => div#bottom-primary  
**************************************************/
#bottom-primary {
	border-top: 1px solid #bdbdbd;
	background: #d7d5f2;
}

/*  footer message  */
#footer-message {
	padding: .4em;
}
