/* $Id: header.css,v 1.3 2008/06/18 20:16:42 robby Exp $ */
/*  beginning drupal 6.x theme, 
created by robin / biboo[dot]net / nekodesign[dot]net */
/* first region => div#header-region  */
#header-region {
	margin: .7em;
}


/*  secondary links => div#top-bar 
****************************************************/
#top-bar {
	display: none;
}

#top-bar ul.secondary-links {
	float: right;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	height: 22px;
}

#top-bar ul.secondary-links li {
	float: left;
}

#top-bar ul.secondary-links li a, #top-bar ul.secondary-links li a:link,
#top-bar ul.secondary-links li a:visited {
	float: left;
	display: block;
	color: #454545;
}

/*     header
****************************************/

#header-region {
	display:none;
}
#header {
	background-color: #ececec;
	background-color: #003163;
	height: 85px; /* adjust your own height, depends on your personnal logo.png height and div#top-bar height  */
	position: relative;
}

#header .region-content {
}

#header h1 {
	padding-top: 10px;
	line-height: 1.8em;
	position: absolute;
}

/*  if site name is displayed  */
#header h1 span.site-name {
	color: #fff;
	font-size: 1.9em;
}

/*  if site slogan is displayed  */
#header h1 span.site-slogan {
	font-style: italic;
	font-size: .9em;
}

#header h2 {
	position: absolute;
	bottom: 10px;
	font-size: 1em;
	color: #eee;
}

/*  primary links => div#top-primary  
**************************************************/
#top-primary ul.primary-links {
	float: right;
	margin-top: 50px; /* define your own position from the top, also depends on #header height */
	height: 35px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	background-color: #693;
}

#top-primary ul.primary-links li {
	float: left;
}

#top-primary ul.primary-links li a, #top-primary ul.primary-links li a:link,
#top-primary ul.primary-links li a:visited {
	float: left;
	display: block;
	font-size: 1.0em;
	letter-spacing: 0.05em;
	line-height: 35px;
	height: 35px;
	color: white;
	font-weight: bold;
}
