/** floating divs **/
#content,
#navbar,
#sidebar-left,
#sidebar-right {
	display: inline; /* display inline or double your floated margin! [1] */
	overflow: hidden; /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
	overflow-y: visible;
}

/** Drupal admin tables **/
#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
	border-bottom: 1px solid #cccccc; /* IE doesn't display borders on table rows */
}

/* Minor fix for primary and secondary tabs in IE */
ul.primary li a:hover {
	color: #555555;
	text-decoration: none;
	cursor: pointer;
}

ul.secondary li a:hover{
	color: #555555;
	text-decoration: none;
	cursor: pointer;
}

