@CHARSET "UTF-8";
/* $Id: style.css,v 1.4 2008/09/14 14:15:43 robby Exp $ */
/*  beginning drupal 6.x theme, 
created by robin / biboo[dot]net / nekodesign[dot]net */
@import "admin.css";
@import "layout.css";
@import "header.css";
@import "footer.css";
* {
	margin: 0; /* zero out everything ! */
	padding: 0;
}

ul.tips li {
	padding: 0 0 0 15px!important;
	/* when select an input format */
	background: transparent url('images/menu-leaf.gif') no-repeat 1px .38em!important;
	list-style-type: none;
}

/*            general styles
**************************************************
**************************************************/
body {
	color: #31363e;
	font: normal normal .8em/1.7em Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}

a:link, a:visited {
	color: #006699;
	text-decoration: none;
}

a:hover, a:active, li a.active {
	text-decoration: underline;
}

#content a:hover, #content a:active, #content  li a.active {
	background-color: #ffc;
}

img, a img {
	border: none;
}

/*****************************/
blockquote {
	padding: 18px;
}

blockquote p {
	margin: 10px 20px;
	padding-left: 18px;
	width: 400px;
	background: url('images/close-quote.gif') no-repeat right bottom;
	color: #30457e;
	font: 1.5em "Times New Roman", Times, serif;
	text-indent: -10px;
}

blockquote p:first-letter {
	padding: 18px 0 0 18px;
	background: url('images/open-quote.gif') no-repeat left top;
}

/*******************/
input {
	padding: .2em 0;
	color: #000000;
	font: 12px/100% Verdana, sans-serif;
}

textarea, select {
	color: #494949;
	font: 12px/160% Verdana, sans-serif;
}

/*            general list styles
***********************************************/
ul.menu, div.item-list ul {
	margin: 0.35em 0 0 -0.5em;
	line-height: 1.2em;
}

ul.menu li, div.item-list ul li, li.leaf {
	padding: 0 0 .2em 1.5em;
	margin: 0.15em 0 0.15em .5em;
	list-style-type: none;
	list-style-image: none;
	background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
}

ul li.expanded {
	background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed {
	background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
	display: block;
}

/*  ul , ol  */
.content ul, .content ol {
	line-height: 1.9em;
}

.content ol {
	margin: 1em 3em 1em 3em;
}

.content ul {
	margin: 1em 3em 1em 0;
	list-style: none;
}

.content ul li {
	padding: 0 0 0 3em;
	background: url('images/custombullet.gif') 20px 8px no-repeat;
}

/*  div#featured (Featured region + site mission )
*****************************************************/
#featured {
	border-bottom: 1px solid #bdbdbd;
	background-color: #ececec;
	background-color: #ffc;
	min-width: 4px; /* used if Featured region and site mission are desabled */
}

#featured #mission {
	font-style: italic;
	padding: 30px;
	xbackground: url(/aida-americas.org/drupal/sites/aida/images/AidaLogo2inch.gif)  no-repeat 20px 10px;
	xpadding-left: 200px;
	font-size: 1.3em;
	display: none;
}


#featured .block {
	border: 1px dashed #aeaeae;
	margin: .3em .2em;
	padding: .3em;
}

/*     div#breadcrumb-wrapper / div.breadcrumb
*********************************************************/
#breadcrumb-wrapper .breadcrumb {
	margin: .2em 0;
	font-style: italic;
}

/********/
#content {
	padding-bottom: 1em;
}

.content p {
	margin: .5em 0;
	line-height: 1.5em;
	text-align: left;
}

/*        titles (page.tpl.php / node.tpl.php)
********************************************************/
h2.nodetitle, h1.pagetitle {
	clear: both; /* h2.nodetitle = node title as links in front page (node.tpl.php) / 
	h1.pagetitle = node title (page.tpl.php) */
	font: normal 1.7em/25px Arial, Helvetica, sans-serif; /*Georgia, "Times New Roman", Times, serif*/
	letter-spacing: -1px;
	padding: 20px 0 10px 0;
	font-weight: bold;
}

/*            in node.tpl.php
************************************************
************************************************/
.node, .node-sticky {
	margin-bottom: 1.7em;
}

h2.nodetitle {
	margin-top: .4em;
}

h2.nodetitle a {
	color: #23353a;
}

h2.nodetitle a:hover {
	border-bottom: 1px dotted #1d6285;
	color: #217faf;
	text-decoration: none;
}

/*   submitted (node.tpl.php)
**********************************************/
.submitted {
	border-bottom: 1px solid #d8d8d8;
	color: #ababab;
	font-size: 83%;
}

/*  linkswrap / postlinks / taxonomy  (node.tpl.php)
*******************************************************/
.linkswrap {
	padding: .2em 0;
	background: #f2f2f2;
}

.linkswrap a {
	color: #145e84;
	text-decoration: underline;
}

.linkwrap a:hover {
	border: none;
	color: #000000;
	text-decoration: none;
}

.postlinks a {
	text-decoration: none;
}

.postlinks li.comment_new_comments a {
	color: #e30000;
	text-decoration: underline;
}

.postlinks ul, .taxonomy ul {
	background: none;
}

/*******/
.taxonomy {
	padding: 1px 0 0 22px;
	margin: .4em 0 .4em 0;
	position: relative;
}

.taxonomy a {
	color: #145e84;
	text-decoration: underline;
}

.taxonomy a:hover {
	border: none;
	color: #000000;
	text-decoration: none;
}

.taxonomy ul.links {
	margin: 0!important;
	list-style-type: none;
}

.taxonomy ul.links li {
	margin: 0 .2em;
	padding: 0; /* important */
	display: inline;
	background: none;
}

.taxonomy a.active {
	text-decoration: none;
}

/*          comments    (comment.tpl.php)
*************************************************/
div#comments {
	padding-top: 1em; /* see function phptemplate_comment_wrapper in template.php */
}

.comment {
	padding: 6px .7em 0 .7em;
	margin: 1em 0;
	background: url(images/comment_line.gif) #f3f3f3 no-repeat 0 -2px;
	min-height: 85px; /* for 85*85 pixels user pictures */
}

.comment .picture {
	width: 85px; /* depends on user picture width, drupal core default values: 85px*85px */
	float: right;
	margin: 3px;
}

.comment span.new {
	float: right;
	margin: .4em;
	color: #ff0000;
	font: 1.3em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.comment .signature {
	clear: both;
	border-top: 1px dashed #c0c0c0;
}

.comment .commentlinks {
	clear: both;
	padding-bottom: .2em;
}

.comment .commentlinks ul li {
	border: 1px solid #b0b0b0;
	padding: .2em;
	margin-right: 4px;
	background: #ffffff;
}

/* comment submission  */
#comment-form div.form-item {
	padding: 10px 20px;
	border: 1px solid #ebe8db;
	background: #f5f1eb;
}

* html #comment-form div.form-item {
	height: 1px;
}

/*      sidebars
*****************************/
.sidebar .block {
	margin: 0;
	padding: 10px 10px;
	xborder-bottom: 1px solid #a3a3a3;
	xborder-right: 1px solid #a3a3a3;
	background-color: #f5f5f5;
	background-color: #bd8;
}

div.block-locale li {
  display: block;
  }


div.block-locale h2,
div.block-locale .active {
 display: none;
}

/*       special blocks  
*********************************************/
/* user-login-form  */
#user-login-form {
	padding: 0 0 0 0;
	text-align: left;
}

.form-item {
	text-align: left;
}

/*   box => box.tpl.php   */
.box {
	padding-top: 1em;
}

#block-menu-secondary-links {
   padding: 0 0 50px 0;
}
#block-menu-secondary-links h2.title {
  display: none;
}
#block-menu-secondary-links ul.menu {
   padding: 0;
   background-color: #bd8;
   margin: 0;
}
#block-menu-secondary-links ul.menu {
}
#block-menu-secondary-links ul.menu li {
   border: 1px solid #9c6;
   border-width: 1px 0 0 1px;
   margin: 0;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-right: 5px;
   font-weight: normal;
}
#block-menu-secondary-links  ul.menu li li {
	border: none;
}
#block-menu-secondary-links ul.menu li.leaf {
}
#block-menu-secondary-links ul.menu li a {
 color: #036;

}
#block-menu-secondary-links ul.menu li.collapsed {
}
#block-menu-secondary-links ul.menu li.expanded {
margin-left: 0;
}
#block-menu-secondary-links ul.menu li.active-trail {
font-weight: bold;
	

}






.block-user h2 {
   font-size: 1em;
   font-weight: normal;
}


